{{define "login"}}
<html>
  <head>
    <title>
      TierReviews 二段階認証
    </title>

    <!-- vueおよびvuetify-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  </head>
  <body>
    <div id="app"><v-app><v-main>
      <v-container class="d-flex justify-center">
        <v-card width="480px">
          <v-toolbar dark color="green">
            <v-card-title class="font-weight-bold">TierReviews管理コンソール 二段階認証</v-card-title>
          </v-toolbar>
          <v-card-text>
            ユーザー名とパスワードを入力したのち、「送信」ボタンを押してください。<br/><br/>
            認証に成功すると、登録済みのメールアドレス宛にワンタイムパスワードが送信されます。
          </v-card-text>
          <v-container class="mt-5">
            <v-row dense>
              <v-col cols="4">
                <div class="pt-1">ユーザー名</div>
              </v-col>
              <v-col>
                <v-text-field v-model="userId" :disable="disabled" dense></v-text-field>
              </v-col>
            </v-row>
            <v-row dense>
              <v-col cols="4">
                <div class="pt-1">パスワード</div>
              </v-col>
              <v-col>
                <v-text-field v-model="password" :disable="disabled" dense type="password"></v-text-field>
              </v-col>
            </v-row>
            <v-row v-if="errorMessage" dense>
              <v-col class="red--text">
                <span v-text="errorMessage"></span>
              </v-col>
            </v-row>
          </v-container>
          <v-card-actions class="d-flex justify-end">
            <v-btn dark color="green" @click="submit" :disable="disabled">送信</v-btn>
          </v-card-actions>
        </v-card>
      </v-container></v-main></v-app>
    </div>

    <!-- 通信用のaxios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- vueおよびvuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          userId: '',
          password: '',
          errorMessage: '',
          disabled: false,
          baseUrl: '{{.EnvAuthBaseUri}}'
        },
        methods: {
          submit () {
            const data = this
            if (data.disabled == false) {
              data.disabled = true
              axios.post(`${data.baseUrl}/auth/temp-token`, {
                userId: data.userId,
                password: data.password
              }).then(function (r) {
                sessionStorage.setItem('tempToken', r.data)
                window.location.href = './onetime.html'
              }).catch(function (e) {
                data.errorMessage = e.response.data
              }).finally(function () {
                data.disabled = false
              })
            }
          }
        }
      })

    </script>
  </body>
</html>
{{end}}